<footer class="py-3 my-4">
    <div class="footer-main-text">
        <p>Made by Jonah Morgan</p>
    </div>
    <ul class="nav justify-content-center border-top pt-3 pb-3 mb-3">
        <li>
            <a href="https://github.com/CypherCrow?tab=repositories">
                <img id="github" src="../../assets/logos/GitHub-Mark-64px.png" />
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jonah-morgan-gonzalez-54a90a154/">
                <img id="linkedin" src="../../assets/logos/LI-In-Bug.png" /> 
            </a>
        </li>
    </ul>
</footer>