ul.leadership {
    list-style-type: none;
    flex-direction: row;
}

li {
    border: 1px solid lightgray;
    width: 40%;
    height: 250px;  
    margin: 10px; 
    padding: 10px; 
    justify-content: center;
    align-items: center;
}

li:hover {
    transition-duration: 0.3s;
    border: 3px solid red;
}

li.selected {
    background-color: black;
    color: white;
}