<app-navibar></app-navibar>
<div>
    <section>
        <h2>About Amica.AI</h2>

        <p>
            Cybersecurity is a discipline that needs to be taken seriously. And new defenses comes new threats.
        </p>
        <p>
            Amica.AI immerses you in a fictional story-driven event in a fictional enterprise AI company where you are to protect the company's assests and individuals. Involving multiple applications connected to one site, this game sets of a virtually realistic feel on promoting cybersecurity in a corporate environment.
        </p>
    </section>
</div>