div {
    display: flex;
    margin: 5px 5rem 5px 5rem; 
    justify-content: center;
    align-items: center;
}

div#carousel {
    margin-top: 3rem;
}

button {
    background-color: rgb(203, 53, 53);
    color: white; 
    border-radius: 5px; 
    padding: 5px; 
    margin-top: 0.7rem; 
}