<link rel="stylehsheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.css">
<app-navibar></app-navibar>
<div>
    <!-- <div id="homepageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="../../../assets/images/09-rede-neural-scaled.jpg" width="1000px">
                <div class="carousel-caption d-none d-md-block">
                    <p>We provide cutting-edge enterprise AI solutions to other companies,<br/>
                    even Fortune 500 companies.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/blog_560.jpg" height="500px">
                <div class="carousel-caption d-none d-md-block">
                    <p>But cyberattacks are common, and are increasing in destructive potential.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/blog_560.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p>We need to protect our assets, and you will play a part!<br>
                        <button type="button" class="btn btn-success btn-lg" routerLink="/portal">START NOW</button>
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homepageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homepageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> -->
    <div class="carousel-item active">
        <img src="../../../assets/images/09-rede-neural-scaled.jpg" class="img-fluid animated fadeIn">
        <div class="carousel-caption d-none d-md-block animated fadeIn">
            <p>We provide cutting-edge enterprise AI solutions to other companies,<br/>
            even Fortune 500 companies.</p>
            <p>But cyberattacks are common, and are increasing in destructive potential.</p>
            <p>We need to protect our assets, and you will play a part!<br><br>
                <button type="button" class="btn btn-success btn-lg" routerLink="/portal">START NOW</button>
            </p>
        </div>
    </div>
</div>