<div>
    <div id="carousel">
        <mdb-carousel [controls]="true" [indicators]="true">
            <mdb-carousel-item>
                <img
                    src="../../../assets/images/be6918c5d9b9d3807c87f330656b8a41.jpg"
                    class="d-block w-100"
                >
                <div class="carousel-caption d-none d-md-block">
                    <h5>The Company</h5>
                    <p>Offering cutting-edge enterprise AI for your business.</p>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img
                    src="../../../assets/images/blog_560.jpg"
                    class="d-block w-100"
                >
                <div class="carousel-caption d-none d-md-block">
                    <h5>BUT</h5>
                    <p>There are those that seek to undo our contributions.</p>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>