<div id="login">
    <form [formGroup]="loginForm" (ngSubmit)="loginPlayer()">
        <div class="mb-">
            <label for="username" class="form-label">Username</label>
            <input class="form-control form-control-lg" type="text" id="username"
                placeholder="username">
        </div>
        
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input class="form-control form-control-lg" type="password"
                id="password">
        </div>

        <button type="submit" class="btn-lg w-100 btn-success">Submit</button>
    </form>
    <br>
    <div id="register-section">
        <a href="/register">New user? Register now!</a>
    </div>
    <p>or</p>
    <div id="return-home-section">
        <a href="">Head back to Home</a>
    </div>
</div> 