<app-navibar></app-navibar>
<div> 
    <section>
        <h2>Questions</h2>
        <p>The game features two types of questions: email and chat.</p>
        <p>Email questions will take the form of an email from a colleague, detailing a message concerning a cyberattack.<br>
        Chat questions will involve a character asking you a question regarding a cyberdefense practice. 
        </p>
        <p>
            Answering these questions will involve a number of choices that will be present
        </p>
    </section>
    <section>
        <h2>Starting the Game</h2>
        <p>To start the game, finish the carousel in the <a routerLink="/">homepage</a>.</p>
    </section>
</div>